* {
  margin: 0 auto; 
  /* border: 1px grey solid; */
}
.App {
  text-align: center;
  background-color: black;
  color: thistle; 
  height: 1000px;
  padding: 4%;
  border: 12px red solid;
}
.App h2 {
  width: 60%;
  font-size: 6rem;
}
a {
  color: black;
}
#add-peep {
  display: flex;
  
}
#add-peep form {
  width: 30%;
  margin-top: 5%;
}
#add-peep input {
  background-color: papayawhip;
  color: red;
}
#add-peep button {
  background-color: peachpuff;
  color: red;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
#add-peep div {
  width: 70%;
  color: peachpuff;
  text-align: left;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 3rem;
}